.hidden.modalDiv.container#confirmDeleteModal
	.modal.container
		h2 Are you sure you want to delete your post? People sure love it!!! 😞
		.container.btn-container
			button.btn.btn--red#deletePost OK
			button.btn.btn--secondary--outline CANCEL
