.hidden.modalDiv.container#profile-pic-modal
	.modal.container#pfp-container
		h2 Change Your Profile Picture
		.container.btn-container
			button
				img#profile-pic-1.profile-pictures(src="/assets/images/profileImg/profilePic1.jpg" alt="")
			button
				img#profile-pic-2.profile-pictures(src="/assets/images/profileImg/profilePic2.jpg" alt="")
			button
				img#profile-pic-3.profile-pictures(src="/assets/images/profileImg/profilePic3.jpg" alt="")
			button
				img#profile-pic-4.profile-pictures(src="/assets/images/profileImg/profilePic4.jpg" alt="")
			button
				img#profile-pic-5.profile-pictures(src="/assets/images/profileImg/profilePic5.jpg" alt="")
			button
				img#profile-pic-6.profile-pictures(src="/assets/images/profileImg/profilePic6.jpg" alt="")
