.hidden.modalDiv.container#confirmDeleteModal
	.modal.container
		h2 Are you sure you want to deactivate your account???? We are going to miss you... ;(
		.container.btn-container
			button.btn.btn--red#deactivateAcc OK
			button.btn.btn--secondary--outline#cancelDeactivate CANCEL
