<div class="hidden modalDiv container" id="confirmDeleteModal">
	<div class="modal container">
		<h2>Are you sure you want to deactivate your account???? We are going to miss you... ;(</h2>
		<div class="container btn-container">
			<button class="btn btn--red">OK</button>
			<button class="btn btn--secondary--outline">CANCEL</button>
		</div>
	</div>
</div>
