extends layout.pug

block content
  .container.about_container
      .container.about_container_each.about_outline
        img.about_pfp(src="/assets/our-images/blake-profile.png", alt="")
        .about_name Blake Watts
        a.about_links.github(href="https://github.com/Watts-Blake") GitHub
        a.about_links.linkedin(href="https://www.linkedin.com/in/blake-watts-b91428123/") LinkedIn
      .container.about_container_each.about_outline
        img.about_pfp(src="/assets/our-images/nick-profile.png", alt="")
        .about_name Nick Esqueda
        a.about_links.github(href="https://github.com/nick-esqueda") GitHub
        a.about_links.linkedin(href="https://www.linkedin.com/in/nick-esqueda/") LinkedIn
      .container.about_container_each.about_outline
        img.about_pfp(src="/assets/our-images/junki-profile.png", alt="")
        .about_name Junki Sato
        a.about_links.github(href="https://github.com/j00nk1") GitHub
        a.about_links.linkedin(href="https://www.linkedin.com/in/junki-sato-7bb773208/") LinkedIn
