doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon" type="image/x-icon" href="./assets/images/logo.png")
    link(rel="stylesheet" href="/stylesheets/import.css")
    title= title
  body
    header.container.sp_between
      div.topLeftNav.container
        div
          a(href="/")
            div.logoNav
        div.searchBarNav
          div.searchIconNav
            img(src="", alt="")
          div.searchInputNav
            label(for="searchBar")
            input(type="text" name="searchBar" placeHolder='Search Audio Hunt')
      nav.topCenterNav.container
        a.homeNav(href="/") Home
        a.createAPostNav(href="/") Create
        a.songPostsNav.hidden(href="/")  Collections
        a.aboutUsNav(href="/") About
      div.topRightNav.container
        div.login_signNav.container
          if authenticated
            form(action='/users/logout' method='post')
              button.logoutNav.btn.btn--primary--outline Log Out
          else
            a.loginNav.btn.btn--secondary--outline(href="/users/login") Login
            a.signUpNav.btn.btn--primary--outline(href="/users/signup") Sign Up
        if authenticated
          div.profileNav
            a.profPicNav(href=`/users/${locals.user.id}`)
              img(src=locals.user.profileImg, alt="ProfPic")


    main.main.content
      block content
