doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="./import.css")
		title= title
	body

		header.container
				div.topLeftNav.container
					div.logoNav
						a(href="")

					div.searchBarNav
						div.searchIconNav
							img(src="", alt="")
						div.searchInputNav
							label(for="searchBar")
							input(type="text" name="searchBar" placeHolder='Search Audio Hunt')
				div.topCenterNav.container
					a.homeNav(href="") Home
					a.createAPostNav(href="") Create a Post
					a.songPostsNav(href="")  Collections
					a.aboutUsNav(href="") About Us
				div.topCenterNav.container
					div.login_signNav
						button.loginNav Login
						button.signUpNav Sign Up
					div.profileNav
						a.profPicNav(href="")
							img(src="", alt="ProfPic")
