extends layout.pug

block content
  if errors
    //- set styles for Errors
    div(class='alert alert-danger')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error
  .forms_container
    form.visible_form(action="/users/login" method="POST")
      input(type="hidden" name="_csrf" value=csrfToken)
      div.form_group
        label(for="email") Email
        input.form_input(type="email" name="email" id="email" placeholder="email...")
      div.form_group
        label(for="password") Password
        input.form_input(type="password" name="password" id="password" placeholder="password...")
      button.btn.btn--primary--outline.submit_button(type='submit') Submit
    form.hidden_form(action="/users/login" method="POST")
      button.btn.btn--primary--outline.btn--demo(type='submit') Demo User
      input(type="hidden" name="email" value='test@test.com')
      input(type="hidden" name="password" value='password')
      input(type="hidden" name="_csrf" value=csrfToken)
