extends layout.pug

block content
  include includes/profile-banner.pug

  div.main_body_titles.container
    h2 Your Posts
    h2 Your Comments
  .main_body.container
    .user_posts.container
      .media
        img.media__img(src="/bruh.jpg")
        .media__body
          h3 Bruh
          span Bruh
          .media__body__bottom
            small artist name
            small album name
        .comment_count.container
          span 1000
    .user_comments_preview.container
      .comment_preview.media
        .media_body
          //- ::before for speech bubble
          p this is a comment
          small on "This Post"
        .time_elapsed
          span 1d
          br
          small ago
