.hidden_form {
  position: absolute;
  width: 200px;
  bottom: 0;
  right: 16px;

  display: flex;
  justify-content: flex-end;
}
.forms_container {
  position: relative;
}

.submit_button {
  margin-top: 16px;
  margin-left: 16px;
}

/* FORM ADJUSTMENTS */
