/* Main contents */
body {
  background-color: #212121;
  color: #ffffff;
  font-family: helvetica, arial;
  letter-spacing: -1px;
  /* ↓ testing out position sticky in header*/
  /* height: 1000px; */
}

header {
  background-color: #191414;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
}

.header__content {
  margin: 0 auto;
  width: 95%;
  /* padding: 5px */
}

.main {
  margin: 0 auto;
  width: 90%; /*we can change the width later*/
}

/* Flex container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* form container for input and label etc. */
.form_group {
  padding: 1em;

  display: flex;
  flex-direction: column;
}
/* form input */
.form_input {
  padding: 1em;
  margin: 20px 0;
  border: 1px solid #535353;
  border-radius: 3em;
}

/* form container for checkbox and label etc. */
.form_checkbox_group {
  padding: 1em;

  cursor: pointer;

  display: flex;
  align-items: center;
}
/* for the input tag */
.form_checkbox_group__input{
  display: none;
}
/* for the styled div next to the hidden input */
.form_checkbox_group__box {
  width: 1.5em;
  height: 1.5em;
  margin: 10px;

  background-color: #535353;
  border-radius: 3px;

  display: flex;
  justify-content: center;
  flex-shrink: 0;

  transition: background-color 0.15s;
}
/* check-mark inside styled div */
.form_checkbox_group__box::after {
  content: '\2714';
  transform: scale(0);
  transition: transform .15s;
}
/* turns background green when checked */
.form_checkbox_group__input:checked + .form_checkbox_group__box {
  background-color: #1DB954;
}
/* shows check-mark image when checked */
.form_checkbox_group__input:checked + .form_checkbox_group__box::after {
  transform: scale(1);
}
